
/* styling for the doctor.html/find a doctor page */
.doctor-body{
    margin: 4% 6%;
    font-family: 'lato', sans-serif;
}
.doctor-logo{
    display: inline-flex;
    align-items: center;
    background-color: #284CCC;
    width: fit-content;
    height: 55px;
 padding: 0;
    margin: 0;
}
.doctor-logo img{
    height: 52px;
}
.doctor-logo p{
color: #FFF;
font-size: 48px;
font-weight: 800;
}
.doctor-body input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background: #BAB5E1;
    padding: 15px 5px;
    color: #828282;
}
form{
    position: relative;
    margin-top: 3%;
    margin-bottom: 4%;
}
form img{
position: absolute;
right: 20px;
bottom: 10px;
}
.doc-types{
    background-color: #284CCC;
    padding: 0 5px;
    margin-top: 3%;

}
.doc-types div{
    display: flex;
    justify-content: space-between;
}
.doc-types div p{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #000100;
    color: white;
    padding: 5px 5px;
    text-align: center;
}
.doc-types div + p{
    margin-top: 4%;
font-size: 24px;
font-weight: 800;
}
.doc-info{
    background-color: #284CCC;
    display: flex;
    /* justify-content: space-between; */
    font-size: 24px;
    color: #FFF;
    margin-bottom: 5%;
}

.doc-info .dr{
    display: flex;
}
.dr div{
    margin-top: auto;
    margin-left: 30px;
    font-size: 24px;
    color: #FFF;
}
.dr div p:first-child{
    margin-bottom: 5px;
}
.dr div p:last-child{
    margin-top: 35px;
}
.dr + div{
    width: 20%;
    margin-left: auto;
}
.hospital-icon, .doc-info button {
  margin-left: 60%;
 
}
.doc-info #active{
    color: #FFF;
    background-color:black;
    padding: 10px 15px;
    border:none;
    border-radius: 10px;
}
.doc-info button{
    color:#fff;
    background-color: rgba(255, 255, 255, .3);
    
    padding: 10px 15px;
    border:none;
    border-radius: 10px;
}
.doc-info button:hover{
    background-color: transparent;
    text-decoration: underline;
    color: #000100;
}
