/* styling for the faq page */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
footer, .mobile-top{
    display: none;
}

.faq-body{
    background-color: #DAE0F2;
   
    display: flex;
}
aside{
    background-color: #284CCC;
    font-family: "lato", sans-serif;
    /* height: max-content;   */
    width: 22%; 
}
.menu-logo{
    display: flex;
    align-items: center;
}
form, nav, #log-out{
    padding-left:10%;
}
.menu-logo p{
    color: #FFF;
    font-size: 40px;
    font-weight: 800; 
}
input{
    margin: auto;
    width: 95%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 15px 5px 15px 15px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.30);
    color: #FFF;
    font-size: 20px;
}
input:placeholder-shown{
color: #FFF;
font-family: Inter;
font-size: 22px;
padding-left: 15%;
font-weight: 500;

}
form{
    position: relative;
}
form img{
    position: absolute;
    left: 13%;
    bottom: 38%;
}
a{
    text-decoration: none;
    color: #FFF;
font-family: Inter;
font-size: 22px;
font-weight: 500;
margin-bottom: 10%;
display: flex;
align-items: center;
}
li{
    list-style: none;
}
a img{
    margin-right: 10px;
}
a:hover {
    background-color: #dae0f2;
    color: #284CCC;
    border-radius: 10px;
    padding: 10px 5px;
    width: 85%;
}
.faq-link{
    background-color: #dae0f2;
    color: #284CCC;
    border-radius: 10px;
    padding: 10px 5px;  
    width: 85%;
}
#log-out{
    margin-top: 80%;
}
#log-out a{
    color:#FF0000;
}
.faqs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 7%;
    /* margin: auto;    */
    font-family: "inter", sans-serif;
}

.faq-body h3{
    color: #000;
font-size: 64px;
font-weight: 700;
font-family: inter;
text-align: center;
margin: 25px;

}
.faqs select{
    padding: 20px 20px;
    margin-bottom: 4%;
    font-size: 30px;
    font-weight: 400;    
}

/* mediaquery for the faq page */
@media (max-width:1300px) {
    .faqs{
        width: 82%;
    }   
}
@media (max-width:992px){
aside{
    display: none;
}
.faq-body{
    display: block;
}
footer, .mobile-top,.mobile-logo{
    display:flex;
}
.mobile-top{
    justify-content: space-between;
    margin: 4%;
    align-items: center;
}
.mobile-logo{
    align-items: center;
}
.foot-menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
        background-color: #dae0f2;
        padding-top: 10px;
        border-top: transparent;
        box-shadow:inset rgba(0, 0, 0, .1) .1px 2px;
        position: sticky;
        bottom: 0;
}
a:hover{
    width: initial;
}
}

@media (max-width: 767px) {
    .faq-body h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
    }
    /* .faqs{
        word-break: break-all;
    } */
    .faqs select{
        padding: 20px 20px;
        margin-bottom: 15%;
        font-size: 16px;
        font-weight: 700;   
        max-width: 100%;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        
    }
    
} 

