@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/*styling for the welcome 0r signin  and the sign up page*/
/* They have very similar designs hence */

.welcome-body, .signup-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DAE0F2;
}
.welcome-container{
    display: flex;
    padding: 2% 9% 2% 5%;
    height: 100vh;
}
.signup-container{
    display: flex;
    padding: 0 8% 0 0;
    height: 100vh;
}
.welcome-img{
margin-right: 16%;
}
.signup-img{
    margin-right: 4%;
}
.welcome-img img{
    width: 100%
}

.welcome-form{
    margin-top: 10%;
    width: 50%;
}
.signup-body .welcome-form{
    margin-top: 8%;
}
.welcome-logo{
    display: flex;
    align-items: center;
    justify-content: start;
}
.welcome-logo span{
    font-family: 'Lato', sans-serif;
    color: #284CCC;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
}
.welcome-form h3{
    color: #000100;
font-family:'Lato', sans-serif;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: 45.2px;
letter-spacing: 0.4px;
margin-bottom: 0;
}
.welcome-form p:first-of-type{
    color: #544F53;
font-family: 'Lato', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.165px;
}
.signup-container .welcome-form p:first-of-type, .signup-container .welcome-form h3{
    color: #000100;
}

.welcome-form label{
    color: #000100;
font-family: 'Lato', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.165px;
margin-bottom: 30px;
}
.welcome-form input{
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.welcome-form input:placeholder-shown{
    color: #B8B8B8;
    font-family:  "Mukta", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.signup-wlc{
    display: none;
}
.input-container{
    position: relative;
}
.input-container img{
    position: absolute;
    right: 0 ;
    top: 60px;
}
.button-container{
    display: flex;
    flex-direction: column;
}
.button-container label{
    text-align: end;
    color: #544F53;
}
.button-container button{
    border: none;
    border-radius: 10px;
    padding: 12px 0;
    color: #DAE0F2;
    font-size: 24px;
    font-weight: 500;
    background-color: #284CCC;
}
.button-container button:hover{
    background-color: #DAE0F2;
    color: #284CCC;
}
.welcome-form div p:last-of-type{
    color: #000100;
text-align: center;
font-family:'Lato', sans-serif;
font-size: 24px;
font-weight: 400;
}
.welcome-form div:last-of-type a{
    text-decoration: none;
    color: #000100;
    font-weight: 600;
}
.welcome-form div:last-of-type a:hover{
    color: #B8B8B8;
    text-decoration: underline;
}
/* this is where home page starts from*/ 
.Homepage{
    width: 1440px;
    height: 1024px;
    background: #DAE0F2;
}
.sections{
    display: flex;
    
}
.r1{
    display: block;
    width: 352px;
    height: 1024px;
    background-color:#284CCC;;
    flex-shrink: 0;
}
.Doctimespan span{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.icons{

}
.icons1{
display: inline-flex;
padding: 10px;
align-items: center;
gap: 6px;
width: 282px;
height: 51px;
border-radius: 10px;
background: rgba(0, 0, 0, 0.30);

}
.icons2{
display: inline-flex;
padding: 10px;
width: 282px;
height: 51px;
align-items: center;
gap: 6px;
border-radius: 10px;
background: #DAE0F2;
}
.icons3{
width: 282px;
height: 51px;
display: inline-flex;
padding: 10px;
align-items: center;
gap: 6px;
border-radius: 10px;
}
.icons4{
display: inline-flex;
padding: 10px;
align-items: center;
gap: 6px;
width: 282px;
border-radius: 10px;
}
.icons5{
display: inline-flex;
padding: 10px;
align-items: center;
width: 282px;
gap: 6px;
border-radius: 10px;
 }
.icons6{
display: flex;
width: 282px;
padding: 10px;
align-items: center;
gap: 6px;
border-radius: 10px;
}
.icon7{
display: flex;
width: 282px;
padding: 10px;
align-items: center;
gap: 6px;
border-radius: 10px;
}
.logouttext{
color: #F00;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.section2and3{
    display: flex;
}
.good{
    color: #000100;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.howare {
color: #000100;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.q1{
display: flex;
width: 710px;
height: 155px;
padding: 17px 245px 8px 12px;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
background: #284CCC;
}
.textcontainer{
width: 500px ;
}
.q1a{
color: #FFF;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.q1b{
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.vitals{
color: #000100;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.q11{
display: flex;
//justify-content: space-between;
}
.q1b1{
width: 226px;
height: 120px;
flex-shrink: 0;
background: #D9D9D9;
}
.bodytemp{
    width: 132.588px;
    color: #000100;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
.q1b2{
    width: 226px;
    height: 120px;
    flex-shrink: 0;
    background: #D9D9D9;
}
.pulse{
width: 63.812px;
color: #000100;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.q1b3{
    width: 226px;
    height: 120px;
    flex-shrink: 0;
    background: #D9D9D9;
}
.bp{
    width: 179.941px; 
    color: #000100;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.qtext1{
width: 96.059px;
color: #F00;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.q1b2{
width: 226px;
height: 120px;
flex-shrink: 0;
background: #D9D9D9;
}
.qtext2{
width: 116.988px;
color: #F00;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.q1b3{
width: 226px;
height: 120px;
flex-shrink: 0;
background: #D9D9D9;
}
.qtext3{
    width: 185.567px;
    color: #F00;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .r3{
       
    }
.bookan{
//display: flex;
width: 306px;
height: 58px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 20px;
background: #284CCC;
}
.appoint{
color: #FFF;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
     
}
.nextapp{
width: 1440px;
height: 1024px;
background: #DAE0F2;
}
.nextt{
 color: #000100;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.monthandweek{
    display: flex;
    justify-content: space-between;
    width: 450px;


}
.MON{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.TUES{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.WED{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.THUR{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.Read{
    width: 175px;
    height: 35px;
    border-radius: 10px;
    //padding-left: 600px;
    background-color: #284CCC;   

}
.readmore{
color: #FFFFFF;
font-family: Inter;
font-size: 23px;
font-weight: 500;
line-height: 29.05px;
text-align: center;

}
.calen{
display: flex;
width: 220px;
height: 220px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
background-color: #FFFFFF;
}
.calentx{
    text-align: center;
    margin-bottom: 20px;
}
.table{
    width: 100%;
}
/* this is where home page end*/ 


/*media query styling for the welcome 0r signin page and the signup page*/

/* 1200px */
@media(Max-width: 1200px) {
    .welcome-form{
        width: 100%;
    }
    .welcome-container, .signup-container{
        height: 100%;
    }
    .welcome-img, .signup-img{
        display: none;
    }
    .welcome-body{
        background-image: url(assets/images/young-cheerful-woman-yellow-shirt-leaning-desk-with-notepad-papers-hand-while-joyfully-looking-camera-modern-office_574295-3824\ 3.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover; 
    }
    .signup-body{
        background-image: url(assets/images/signup.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover 
    }
    .welcome-container{
        display: block;
    }
    .signup-container{
        padding: 0 8% 0 8%;
    }
    .welcome-logo{
        justify-content: center;
    }
    .welcome-logo span{
        font-size: 78px;
        font-weight: 800;
    }
    .welcome-form h3{
        font-size: 60px;
        text-align: center;
        color: white;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .welcome-form p:first-of-type{
        font-size: 34px;
        font-weight: 600;
        color: white;
        margin-bottom: 15%;
        text-align: center;
    }
    .welcome-form label{
        font-size: 30px;
        font-weight: 700;
    }
    .welcome-form input{
        padding: 20px 10px 20px 10px;
    }
    .welcome-form input:placeholder-shown{
        font-size: 24px;
        font-weight: 500;
    }
    .input-container img{
        top: 80px;
    }
    .button-container button{
        padding: 20px 0;  
        font-size: 26px;
        font-weight: 500  
    }
    .welcome-form div p:last-of-type{
    font-size: 30px;
    font-weight: 600;
    }
    
}

@media(Max-width: 600px){
    .welcome-body{
        background-size: cover;
    }
    
   .welcome-logo span{
        font-size: 48px;
        font-weight: 600;
    }
    .welcome-form h3{
font-size: 40px;
font-weight: 600;
}
.welcome-form p:first-of-type{
font-size: 24px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.165px;

}
.welcome-form label{
font-size: 20px;
font-weight: 600;
}
.welcome-form input{
    width: 98%;
    padding: 5px 5px 5px 5px;
}
.welcome-form div p:last-of-type{
    font-size: 22px;
    font-weight: 500;
}
.welcome-form div:last-of-type a{
font-weight: 700;
}
.input-container img{
    position: absolute;
    right: 5px ;
    top: 60px;
}
.button-container button{
    padding: 10px 0;  
    font-size: 26px;
    font-weight: 500  
}
.welcome-form div p:last-of-type{
    font-size: 20px;
    font-weight: 600;
    }
    /* signup on 600px and below */
    .signup-container .welcome-form{
        margin-top: 20%;
    }
    .no-display-sm{
        display: none;
    } 
    .signup-wlc{
        display: block;
        color: #000100;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 400;
letter-spacing: 0.4px;
margin-top:50px ;
margin-bottom: 55px;
    }
}

/* styling for the doctor.html/find a doctor page */
.doctor-body{
    margin: 4% 6%;
}
.doctor-logo{
    display: inline-flex;
    align-items: center;
    background-color: #284CCC;
    width: fit-content;
    height: 55px;
 padding: 0;
    margin: 0;
}
.doctor-logo img{
    height: 52px;
}
.doctor-logo p{
color: #FFF;
font-family: 'Lato', sans-serif;
font-size: 48px;
font-weight: 800;
}
.doctor-body input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background: #BAB5E1;
    padding: 15px 5px;
    color: #828282;
}
form{
    position: relative;
    margin-top: 3%;
    margin-bottom: 4%;
}
form img{
position: absolute;
right: 20px;
bottom: 10px;
}
.doc-types{
    background-color: #284CCC;
    padding: 0 5px;
    margin-top: 3%;

}
.doc-types div{
    display: flex;
    justify-content: space-between;
}
.doc-types div p{
    font-family: Lato;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #000100;
    color: white;
    padding: 5px 5px;
    text-align: center;
}
.doc-types div + p{
    margin-top: 4%;
font-family: Lato;
font-size: 24px;
font-weight: 800;
}
.doc-info{
    background-color: #284CCC;
    display: flex;
    justify-content: space-between;
}
.doc-info .dr{
    display: flex;
}